*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: sans-serif;
}
.col-2{
  width: 15% !important;
}
.col-10{
  width: 85% !important;
}
.row{
  width: 100% !important;
  display: flex !important;
}
